/*admin/user/index.blade.php*/
.button-container {
    display: flex;
    align-items: center;
}

.button-container a, .button-container form {
    margin-right: 10px;
}

/* Ajuste l'espacement du tableau */
table {
    width: 100%; /* Assurez-vous que le tableau prend toute la largeur */
    border-collapse: collapse; /* Supprime les espaces entre les bordures */
}

table th, table td {
    padding: 8px 12px; /* Ajustez comme souhaité pour réduire/ajouter de l'espacement */
    border: 1px solid #ddd; /* Bordure pour chaque cellule */
}

/* Style pour les en-têtes du tableau */
table th {
    background-color: #f2f2f2; /* Couleur d'arrière-plan pour les en-têtes */
}


/*Menu*/
.custom-light-green {
    background-color: #3FFD5D; /* Ceci est un exemple de vert clair. */
}

.navbar-brand img {
    height: 60px !important;
    width: auto !important;
    margin-right: 0px !important;
}

.footer-container {
    background-color: #3FFD5D;
}

.footer-container .row {
    justify-content: space-between; /* Distribuez l'espace entre les éléments */
}

.footer-container .row .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu de chaque colonne */
}

.footer-container .row .col-md-4.justify-content-end {
    align-items: flex-end; /* Aligner le contenu de la colonne de l'adresse à droite */
}

/*Product index*/
.table-title {
    background-color: #3FFD5D;
    color: black; /* Texte en blanc */
    font-size: 1.5em; /* Augmenter la taille de la police */
    text-align: center; /* Centrer le texte */
}
 /*Table*/
 .table-responsive {
    max-width: 80%; /* Ajustez cette valeur selon vos préférences */
    margin: 0 auto; /* Centrer le conteneur */
}
/*Product index search + button*/
.search-container {
    max-width: 800px; /* Définissez la largeur maximale que vous souhaitez pour le conteneur de recherche */
    margin: 0 auto; /* Centrer le conteneur sur la page */
}

.btn-custom {
    background-color: #3FFD5D; /* Remplacez par votre code couleur vert personnalisé */
    color: black; /* Couleur du texte du bouton */
    border: none;
}

.btn-custom-search {
    background-color: #3FFD5D; /* Remplacez par votre code couleur vert personnalisé */
    color: black; /* Couleur du texte du bouton */
    border: none;
}

.btn-custom-search:hover, .btn-custom-search:focus {
    background-color: #3FFD5D; /* Une nuance légèrement plus foncée pour le survol et le focus */
}

.btn-custom-advanced {
    background-color: #3FFD5D; /* Remplacez par votre code couleur vert personnalisé */
    color: black; /* Couleur du texte du bouton */
    border: none;
}

.btn-custom-advanced:hover, .btn-custom-advanced:focus {
    background-color: #3FFD5D; /* Une nuance légèrement plus foncée pour le survol et le focus */
}

/*#45FF44;*/

