

/*admin/user/index.blade.php*/
.button-container {
    display: flex;
    align-items: center;
}

.button-container a, .button-container form {
    margin-right: 10px;
}

/* Ajuste l'espacement du tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px 12px;
}

/* Style pour les en-têtes du tableau */
table th {
    background-color: #f2f2f2;
}


/*Menu*/
.custom-light-green {
    background-color: #6B8DA5;
}

.navbar-brand img {
    height: 60px !important;
    width: auto !important;
    margin-right: 0px !important;
}

.container-fluid {
    background-color:#6B8DA5;
}

/*Product index*/
.table-title {
    background-color: #3FFD5D;
    color: black;
    font-size: 1.5em;
    text-align: center;
}

 /*Table*/
 .table-responsive {
    max-width: 80%;
    margin: 0 auto;
}

/*Product index search + button*/
.search-container {
    max-width: 800px;
    margin: 0 auto;
}

.btn-custom {
    background-color: #3FFD5D;
    color: black;
    border: none;
}

.btn-custom-search {
    background-color: #3FFD5D;
    color: black;
    border: none;
}

.btn-custom-search:hover, .btn-custom-search:focus {
    background-color: #3FFD5D;
}

.btn-custom-advanced {
    background-color: #3FFD5D;
    color: black;
    border: none;
}

.btn-custom-advanced:hover, .btn-custom-advanced:focus {
    background-color: #3FFD5D;
}

/*Taille ecran*/
.header-menu {
    height: 10vh;

}

.footer {
    height: 10vh;

}

.custom-pagination img,
    .custom-pagination svg,
    .custom-pagination .page-link {
        font-size: 0.8em;
    }

    .custom-pagination img,
    .custom-pagination svg {
        width: 20px;
        height: auto;
    }
    .profile-image {
        max-width: 200px;
        margin: auto;
    }

    .product_image {
        max-width: 530px;
        margin: auto;
    }

    /*Vue product variable name */
    .product-link {
        color: inherit;
        text-decoration: none;
    }

    /*Vue product variable name effet survole */
    .product-link:hover {
        color: blue;
    }

    /* Status orders */
    .paid-status {
        background-color: rgb(225, 255, 0)!important;
    }

    .delivery-status {
        background-color: rgba(0, 242, 255, 0.752)!important;
    }

    .delivered-status {
        background-color: rgb(5, 233, 5)!important;
    }

